.lobby {
    background-image: url("https://media.discordapp.net/attachments/746934121623978186/886365447056932904/do-alpha.png?width=676&height=473");
    background-size: 100%;
    overflow: auto;

}